<div class="modal fade" tabindex="-1" role="dialog" id="helpModal">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ayuda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 style="color: #2e6c80;">Habitaciones:</h2>
        <ul>
          <li><span style="background-color: #ffffff;">Una habitaci&oacute;n es una categor&iacute;a en la cual puedes
              colocar
              tus dispositivos.</span></li>
          <li><span style="background-color: #ffffff;">Utiliza el bot&oacute;n circular rojo (+) para crear una
              habitaci&oacute;n.</span></li>
          <li><span style="background-color: #ffffff;">Las habitaciones tienen un nombre y una imagen que las
              representa, y
              pueden ser marcadas como favoritas.</span></li>
          <li><span style="background-color: #ffffff;">Las habitaciones favoritas se mostrar&aacute;n al principio de
              la lista
              de habitaciones.</span></li>
          <li><span style="background-color: #ffffff;">Puedes marcar o desmarcar como favorita una habitaci&oacute;n en
              cualquier momento pulsando el &iacute;cono de la estrella.</span></li>
        </ul>
        <h2 style="color: #2e6c80; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">Dispositivos:</h2>
        <ul>
          <li><span style="background-color: #ffffff;">Puedes crear, modificar y eliminar dispositivos.</span></li>
          <li><span style="background-color: #ffffff;">Existen siete tipos de dispositivos:</span>
            <ul>
              <li><span style="background-color: #ffffff;">Persiana</span></li>
              <li><span style="background-color: #ffffff;">L&aacute;mpara</span></li>
              <li>Horno<span style="background-color: #ffffff;"><br /></span></li>
              <li>Aire acondicionado</li>
              <li>Puerta&nbsp;</li>
              <li>Alarma</li>
              <li><span style="background-color: #ffffff;">Heladera<br /></span></li>
            </ul>
          </li>
          <li>Los par&aacute;metros de configuaci&oacute;n var&iacute;an seg&uacute;n el dispositivo. A las
            configuraciones que
            s&iacute; son comunes, por ejemplo el nombre, el estado de favorito y el borrado del dispositivo se accede
            por
            medio del bot&oacute;n violeta que dice "editar dispositivo" ubicado siempre al final de la pantalla de
            configuraci&oacute;n de cada dispositivo.</li>
          <li><span style="background-color: #ffffff;">Los dispositivos pueden ser marcados o desmarcados como
              favoritos.</span></li>
          <li><span style="background-color: #ffffff;">Los dispositivos favoritos se mostrar&aacute;n al principio de
              la lista
              de dispositivos.</span></li>
        </ul>
        <h2 style="color: #2e6c80; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">Rutinas:</h2>
        <ul>
          <li>U<span style="background-color: #ffffff;">na rutina es un conjunto de acciones que se realizan a la vez.</span></li>
          <li><span style="background-color: #ffffff;">Sirve para automatizar tareas que realizas frecuentemente.</span></li>
          <li><span style="background-color: #ffffff;">Imagina, por ejemplo, que quieres poner a calentar el horno,
              abrir las
              persianas, y encender el aire acondicionado para que todo est&eacute; a punto cuando llegues. &iexcl;Crea
              una
              rutina que lo haga por ti, y estar&aacute;s a un bot&oacute;n del confort que mereces!</span></li>
          <li><span style="background-color: #ffffff;">Al tocar el bot&oacute;n flotante rojo (+) podr&aacute;s asignar
              a la
              nueva rutina un nombre. Posteriormente a trav&eacute;s del bot&oacute;n azul agregar podr&aacute;s elegir
              de la
              lista de habitaciones la habitaci&oacute;n que contenga el dispositivo que quieres automatizar, para
              luego elegir
              al mismo y finalmente seleccionar la acci&oacute;n que quieres automatizar.</span></li>
          <li><span style="background-color: #ffffff;">Recuerda que una rutina puede automatizar comportamientos de
              muchos
              dispositivos, e incluso varios compartamientos del mismo dispositivo.<br /></span></li>
        </ul>
        <h2 style="color: #2e6c80; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: normal; orphans: 2; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; -webkit-text-stroke-width: 0px; white-space: normal; word-spacing: 0px;">Buscador:</h2>
        <ul>
          <li><span style="background-color: #ffffff;">Utiliza en cualquier momento el buscador que se ubica en la
              esquina
              superior derecha para<br />buscar habitaciones, dispositivos y rutinas registradas.</span></li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>&nbsp;</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>