<div class="modal fade" id="modRoomModal" data-id="0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
                <h4 class="modal-title white-text w-100 font-weight-bold py-2">Modificar habitación</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <form>
                    <div class="md-form">
                        <i class="fa fa-edit prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="form3">Nombre</label>
                        <input type="text" id="modRoom_name" value="John Doe" class="form-control validate">
                    </div>
                </form>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">Cancelar</a>
                <a type="button" class="btn btn-outline-warning waves-effect" onclick="updateRoom()">Modificar</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<script>

    function fixFieldState(inputField) {
        $(inputField).trigger("focusin");
        $(inputField).trigger("blur");
    }

    function showUpdateRoomModal(id) {
        if (id && id != 0) {
            api.rooms.get(id)
                .then((data) => {
                    var room = data["room"];
                    $("#modRoom_name").val(room["name"]);
                    var meta = JSON.parse(room["meta"]);

                    fixFieldState($("#modRoom_name"));

                    $('#modRoomModal').data("id", id);

                    $('#modRoomModal').modal('show');

                })
                .catch((error) => {
                    alert('Request failed: ' + error);
                });
        }
    }

    function updateRoom() {
        var room = {
            id: $('#modRoomModal').data("id"),
            name: $("#modRoom_name").val(),
            meta: "{\"isFavorite\":false,\"image\":\"rooms/kitchen.jpg\"}"
        };

        //TODO: MOSTRAR LOADER POR SI NOS CORTAN LA CONEXION EN EL PROCESO

        api.rooms
            .modify(room)
            .then(data => {
                fillRoomData($('#modRoomModal').data("id"));
                $('#modRoomModal').modal('hide');
                reloadSearch();
            })
            .catch(error => {
                alert("Request failed: " + error);
            });

    }
</script>