<nav class="navbar justify-content-between navbar-dark rgba-black-light">
    <a class="navbar-brand font-weight-bold" href="#">Casafy</a>
    <form class="form-inline">
        <div class="md-form form-md my-0" style="width: 25em;">
            <input class="form-control form-control-xl mr-md-2 mb-2" style="width: 23em;" type="text" placeholder="Buscar dispositivos, habitaciones y rutinas..."
                aria-label="Search">
        </div>
        <button class="btn btn-outline-white btn-sm my-0" type="submit"><i class="fa fa-question-circle" aria-hidden="true"></i>
            Ayuda</button>
    </form>
</nav>

<br>