<div class="modal fade" id="newActionModal" tabindex="-1" role="dialog" aria-labelledby="newActionTitle" aria-hidden="true"
 data-backdrop="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newActionTitle">Añadir Acción</h5>
				<button type="button" class="close" onClick="resetActionModal()" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb" id="routineBreadcrumb">

					</ol>
				</nav>
				<div class="container">
					<div class="list-group" id="itemList" role="tablist">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="getParamsModal" tabindex="-1" role="dialog" aria-labelledby="getParamsTitle" aria-hidden="true"
 data-backdrop="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="getParamsTitle">Parámetros</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="getParamsForm">
				</form>
				<div class="alert alert-warning alert-dismissible fade" role="alert" id="invalidParamAlert" style="display:none">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="cancelParamsBtn">Cancelar</button>
				<button type="button" class="btn btn-primary" id="addActionBtn" disabled>Añadir</button>
			</div>
		</div>
	</div>
</div>
<script>
	var chosenRoomId = "";
	var chosenDeviceId = "";
	var actionsTranslation = {
		"up": "Subir",
		"down": "Bajar",
		"getState": "Ver estado",
		"turnOn": "Encender",
		"turnOff": "Apagar",
		"setColor": "Cambiar color",
		"setBrightness": "Cambiar brillo",
		"setTemperature": "Cambiar temperatura",
		"setHeat": "Elegir modo de calor",
		"setGrill": "Modo Grill",
		"setConvection": "Elegir convección",
		"setMode": "Elegir modo",
		"setVerticalSwing": "Oscilación vertical",
		"setHorizontalSwing": "Oscilación horizontal",
		"setFanSpeed": "Cambiar velocidad",
		"open": "Abrir",
		"close": "Cerrar",
		"lock": "Cerrar con llave",
		"unlock": "Abrir llave",
		"changeSecurityCode": "Cambiar código",
		"armStay": "Activar con personas dentro",
		"armAway": "Activar con personas fuera",
		"disarm": "Desactivar",
		"setInterval": "Tiempo de espera",
		"start": "Empezar",
		"stop": "Detener",
		"setFreezerTemperature": "Cambiar temperatura del congelador",

	}
	var paramsTranslation = {
		"brightness": "Brillo",
		"color": "Color",
		"temperature": "Temperatura (°C)",
		"heat": "Calor",
		"grill": "Grill",
		"convection": "Convección",
		"mode": "Modo",
		"verticalSwing": "Oscilación vertical",
		"horizontalSwing": "Oscilación horizontal",
		"fanSpeed": "Velocidad del ventilador",
		"oldSecurityCode": "Código viejo",
		"newSecurityCode": "Código nuevo",
		"securityCode": "Código de seguridad",
		"interval": "Intervalo"
	}
	var supportedValuesTranslation = {
		"auto": "Automático",
		"default": "Por defecto",
		"vacation": "Vacaciones",
		"party": "Fiesta",
		"normal": "Normal",
		"eco": "Ecológico",
		"off": "Apagado",
		"large": "Grande",
		"conventional": "Convencional",
		"top": "Arriba",
		"bottom": "Abajo",
		"cool": "Frío",
		"heat": "Calor",
		"fan": "Ventilador"
	}
	function resetActionModal() {
		chosenRoomId = "";
		chosenDeviceId = "";
		$('#addActionBtn').prop("disabled", true);
	}
	function updateDropdown(chosenElem, paramNum) {
		$('#param' + paramNum).attr('chosen', $(chosenElem).attr('id'));
		$('#param' + paramNum).text($(chosenElem).text());
		$('#addActionBtn').prop("disabled", false);
	}
	function isValid(input) {
		if (input === undefined || input === null)
			return false;
		if (input.attr("type") === "color")
			return true;
		else if (input.val() === undefined || input.val().length === 0 ||
			input.val() > parseInt(input.attr("max")) || input.val() < parseInt(input.attr("min")))
			return false;
		else
			return true;
	}
	$('#newActionModal').on('show.bs.modal', function (event) {
		showRooms();
	});
	$('#getParamsModal').on('shown.bs.modal', function () {
		var disabled = false;
		var i = 0;
		while ($('#param' + ++i).length > 0 && !disabled) {
			//Apenas carga no puede estar ya estar elegida la opción del botón.
			if (!$('#param' + i).is("input"))
				disabled = true;
			else if (!isValid($('#param' + i)))
				disabled = true;
		}
		$('#addActionBtn').prop("disabled", disabled);
	});
	$('#cancelParamsBtn').on('click', function (event) {
		$('#invalidParamAlert').removeClass("show");
		$('#invalidParamAlert').attr("style", "display:none");
		$('#addActionBtn').prop("disabled", true);
		$('#getParamsModal').modal('hide');
	});
	$('#addActionBtn').on('click', function (event) {
		var actionName = $('#getParamsForm').attr("actionName");
		var paramNum = $('#getParamsForm').attr("params");
		var paramValues = [];
		for (var i = 1; i <= paramNum; i++) {
			var value;
			if (!$('#param' + i).is("input"))
				value = $('#param' + i).attr("chosen");
			else {
				if ($('#param' + i).attr("type") == "color")
					value = $('#param' + i).val().substring(1, 7);
				else
					value = $('#param' + i).val();
			}

			paramValues.push(value);
		}
		$('#addActionBtn').prop("disabled", true);
		$('#getParamsModal').modal('hide');
		$('#newActionModal').modal('hide');
		createAction(actionName, chosenDeviceId, paramValues);
		//Funcion en newRoutineModal.html
	});
	function createAction(actionName, deviceId, paramValues) {
		var params = [];
		api.devices.get(deviceId)
			.then(data => {
				var typeId = data["device"]["typeId"];
				api.fetch(api.baseUrl + "devicetypes/" + typeId)
					.then(data => {
						var actions = data["device"]["actions"];
						for (var i = 0; i < data["device"]["actions"].length; i++) {
							var action = data["device"]["actions"][i];
							if (action["name"] === actionName) {
								for (var j = 0; j < action["params"].length; j++) {
									params.push({
										name: paramsTranslation[action["params"][j]["name"]],
										value: paramValues[j]
									});
								}
								break;
							}
						}
						var action = {
							actionName: actionName,
							deviceId: deviceId,
							params: params,
							meta: {}
						};
						addAction(action);
					}).catch(error => {
						alert("Request failed: " + error);
					});
			}).catch(error => {
				alert("Request failed" + error);
			});
	}
	function chooseAction(actionElem) {
		var actionName = $(actionElem).attr("actionName");
		$('#getParamsForm').empty();
		$('#getParamsForm').attr("actionName", actionName);
		showParams(actionName);
	}
	function showRooms() {
		$('#routineBreadcrumb').empty();
		$('#routineBreadcrumb').append('<a href="#" class="breadcrumb-item" onClick="showRooms()">Habitaciones</a>');
		var itemList = $('#itemList');
		itemList.empty();
		api.rooms.getAll()
			.then(data => {
				var rooms = data["rooms"];
				for (roomNum in rooms)
					itemList.append('<a class="list-group-item list-group-item-action" onClick="showDevices(\'' + rooms[roomNum]["id"] + '\')" data-toggle="list">' + rooms[roomNum]["name"] + '</a>');

			}).catch(error => {
				alert("Request failed: " + error);
			});
	}
	function showDevices(roomId) {
		chosenRoomId = roomId;
		$('#routineBreadcrumb').empty();
		$('#routineBreadcrumb').append('<a href="#" class="breadcrumb-item" onClick="showRooms()">Habitaciones</a>');
		$('#routineBreadcrumb').append('<a href="#" class="breadcrumb-item" onClick="showDevices(\'' + roomId + '\')">Dispositivos</a>');
		var itemList = $('#itemList');
		itemList.empty();
		api.get(api.rooms.url + roomId + "/devices")
			.then(data => {
				var devices = data["devices"];
				for (deviceNum in devices)
					itemList.append('<a class="list-group-item list-group-item-action" onClick="showActions(\'' + devices[deviceNum]["id"] + '\')"data-toggle="list">' + devices[deviceNum]["name"] + '</a>');

			}).catch(error => {
				alert("Request failed: " + error);
			});
	}
	function showActions(deviceId) {
		chosenDeviceId = deviceId;
		$('#routineBreadcrumb').empty();
		$('#routineBreadcrumb').append('<a href="#" class="breadcrumb-item" onClick="showRooms()">Habitaciones</a>');
		$('#routineBreadcrumb').append('<a href="#" class="breadcrumb-item" onClick="showDevices(\'' + chosenRoomId + '\')">Dispositivos</a>');
		$('#routineBreadcrumb').append('<a href="#" class="breadcrumb-item" onClick="showActions(\'' + deviceId + '\')">Acciones</a>');
		var typeId;
		api.devices.get(deviceId)
			.then(data => {
				typeId = data["device"]["typeId"];
			}).catch(error => {
				alert("Request failed: " + error);
			}).then(data => {
				var itemList = $('#itemList');
				itemList.empty();
				api.get(api.baseUrl + "devicetypes/" + typeId)
					.then(data => {
						var deviceActions = data["device"]["actions"];
						for (action of deviceActions)
							if (action["name"] != "getState")
								itemList.append('<a class="list-group-item list-group-item-action" actionName="' + action["name"] +
									'"onClick="chooseAction(this)">' + actionsTranslation[action["name"]] + '</a>');
					}).catch(error => {
						alert("Request failed: " + error);
					});
			}).catch(error => {
				alert("Request failed: " + error);
			});
	}
	function showParams(actionName) {
		var typeId;
		api.devices.get(chosenDeviceId)
			.then(data => {
				typeId = data["device"]["typeId"];
			}).catch(error => {
				alert("Request failed: " + error);
			}).then(data => {
				api.fetch(api.baseUrl + "devicetypes/" + typeId)
					.then(data => {
						var actions = data["device"]["actions"];
						var params = null;
						for (actionNum in actions) {
							if (actions[actionNum]["name"].toLowerCase() === actionName.toLowerCase()) {
								params = actions[actionNum]["params"];
								break;
							}
						}
						var i = 0;
						if (params != null && params.length > 0) {
							for (paramNum in params) {
								++i;
								if (params[paramNum]["supportedValues"] !== undefined) {
									$('#getParamsForm').append(
										"<div class=\"form-group-row\">" +
										"<div class=\"col-md-6\">" + paramsTranslation[params[paramNum]["name"]] + ":</div>" +
										"<div class=\"col-md-6\">" +
										"<div class=\"d-inline dropdown\" id=\"deviceTypeBtn\">" +
										"<button class=\"btn btn-secondary dropdown-toggle btn-sm\" type=\"button\"" +
										"id=\"param" + i + "\" name=\"" + params[paramNum]["name"] + "\" data-toggle=\"dropdown\" aria-haspopup=\"true\"" +
										"aria-expanded=\"false\" style=\"display:inline;\">Seleccionar...</button>" +
										"<div class=\"dropdown-menu\" aria-labelledby=\"dropdownMenuButton\" id=\"supportedValues\">" +
										"</div>" +
										"</div>" +
										"</div>" +
										"</div>");
									for (var j = 0; j < params[paramNum]["supportedValues"].length; j++) {
										var value = params[paramNum]["supportedValues"][j];
										$('#supportedValues').append(
											"<button class=\"dropdown-item btn-sm\" id=\"" + value + "\"type=\"button\" onClick=\"updateDropdown(this," + i + ")\">" +
											(isNaN(value) ? supportedValuesTranslation[value] : value) + "</button>");
									}
									continue;
								}
								var input = document.createElement('input');
								input.id = "param" + i;
								if (params[paramNum]["type"] === "integer" || params[paramNum]["type"] === "number"){
									input.setAttribute("type", "range");
									input.setAttribute("class","custom-range");
								}
								else if (params[paramNum]["name"] === "color") {
									input.setAttribute("type", "color");
									input.setAttribute("value", "#ffffff");
								}
								else
									input.setAttribute("type", "text");
								input.setAttribute("max", params[paramNum]["maxValue"]);
								input.setAttribute("min", params[paramNum]["minValue"]);
								input.setAttribute("name", params[paramNum]["name"]);
								input.setAttribute("style", "display:table-cell; width:100%");
								if(input.type === "range"){
									$('#getParamsForm').append(
										"<div class=\"form-group row\">" +
										"<div class=\"col-md-4\">" + paramsTranslation[params[paramNum]["name"]] + ":</div>" +
										"<div class=\"col-md-6\" id=\"param" + i + "container\" style=\"margin-top:8px;\">" + "</div>" +
										"<div class=\"col-md-2\" id=\"param" + i + "value\">" + input.value + "</div>" +
										"</div>");
									input.onchange = ((event) => {
										var disabled = false;
										for (var j = 1; j <= params.length && !disabled; j++) {
											if ($('#param' + j).is("input") && !isValid($('#param' + j)))
												disabled = true;
										}
										$('#addActionBtn').prop("disabled", disabled);
										document.getElementById('param' + i + 'value').innerText = input.value;
									});
								}
								else{
									$('#getParamsForm').append(
										"<div class=\"form-group row\">" +
										"<div class=\"col-md-4\">" + paramsTranslation[params[paramNum]["name"]] + ":</div>" +
										"<div class=\"col-md-8\" id=\"param" + i + "container\">" +
										"</div>" +
										"</div>");
								}
								$('#param' + i + 'container').append(input);
							}
						}
						$('#getParamsForm').attr('params', i);

						if (params != null && params.length > 0)
							$('#getParamsModal').modal('show');
						else
							$('#addActionBtn').click();
					}).catch(error => {
						alert("Request failed: " + error);
					});
			}).catch(error => {
				alert("Request failed: " + error);
			});
	}
	$('#cancelActionBtn').on('click', function (event) {
		resetActionModal();
		$('#newActionModal').modal('hide');
	});
</script>
