<div class="modal fade" id="newDeviceModal" tabindex="-1" role="dialog" aria-labelledby="createDeviceTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createDeviceTitle">Crear dispositivo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row" style="padding-bottom: 10px">
						<div class="col-md-3">Tipo:</div>
						<div class="col-md-7">
							<div class="dropdown" id="deviceTypeBtn">
								<button class="btn btn-secondary dropdown-toggle" type="button"
									id="dropdownDeviceBtn" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									Seleccionar...
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
									id="deviceOptions">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row" style="padding-bottom: 10px">
						<div class="col-md-3">Nombre:</div>
						<div class="col-md-2">
							<input id="deviceName" type="text" name="devicename" size=25 maxlength=25><br>
						</div>
					</div>
					<div class="form-group row" style="padding-bottom: 10px">
						<div class="col-md-3">Favorito:</div>
						<div class="col-md-1">
							<div class="form-group form-check">
								<input type="checkbox" class="form-check-input" id="favouriteDevice">
								<label class="form-check-label" for="favouriteDevice"></label>
							</div>
						</div>
					</div>
					<div class="form-group" style="padding-bottom: 10px">
						<label for="description">Descripción</label>
						<textarea class="form-control" id="deviceDescription" rows="3"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" id="createDeviceBtn">Crear</button>
			</div>
		</div>
	</div>
</div>

<script>
	$('#newDeviceModal').on('show.bs.modal', function (event) {
			if ($('#deviceOptions').children().length == 0) {
				api.get(api.baseUrl + "devicetypes")
					.then(data => {
						var deviceTypes = data["devices"];
						for (typeNum in deviceTypes) {
							$('#deviceOptions').append("<button class=\"dropdown-item\" type=\"button\" onClick=\"dropdownDeviceBtn.innerText = this.innerText;\" id=\"" +
								deviceTypes[typeNum]["id"] + "\">" + deviceNameTranslation[deviceTypes[typeNum]["name"].toLowerCase()] + "</button>");
						}
					})
					.catch(error => {
						alert("Request failed: " + error);
					});
			}
	});

	$('#createDeviceBtn').on('click', function(event) {
		var type = document.getElementById('dropdownDeviceBtn').innerText.toLowerCase();
		var typeId = "";
		$('#deviceOptions').children(".dropdown-item").each(function(i) {
			if($(this).text().toLowerCase() === type)
				typeId = $(this).attr("id");
		});

		if (typeId == "") {
			alert("Debe seleccionar un tipo de dispositivo");
			return;
		}

		var name = $('#deviceName').val();
		var desc = $('#deviceDescription').val();
		var newDevice = {
			name: name,
			typeId: typeId,
			meta: "{\"desc\":\"" + desc + "\",\"image\":\"" + deviceImg[type] + "\", \"isFavorite\":" + document.getElementById("favouriteDevice").checked + "}"
		};

		api.devices
		.create(newDevice)
		.then(data => {
			api.post(api.baseUrl + "devices/" + data["device"]["id"] + "/rooms/" + getQueryStringParameter("id"), "{}")
				.then(data => {
					roomID = getQueryStringParameter("id");
					populateDevicesList(roomID);
				})
				.catch(error => {
					alert("Request failed: " + error);
				});
		})
		.catch(error => {
			alert("Request failed: " + error);
		});

		$('#newDeviceModal').modal('toggle');
		clearNewDeviceModal();
	});

	function clearNewDeviceModal() {
		document.getElementById("deviceName").value = "";
		document.getElementById("dropdownDeviceBtn").innerText = "Seleccionar...";
		document.getElementById("favouriteDevice").checked = false;
		document.getElementById("deviceDescription").value = "";
	}

	var deviceNameTranslation = {
		"blind": "persiana",
		"lamp": "lámpara",
		"oven": "horno",
		"ac": "aire acondicionado",
		"door": "puerta",
		"alarm": "alarma",
		"timer": "temporizador",
		"refrigerator": "refrigerador"
	}

	var deviceImg = {
		"lámpara": "devices/lamp.jpg",
		"aire acondicionado": "devices/airconditioner.jpg",
		"persiana": "devices/blinds.jpg",
		"horno": "devices/oven.jpg",
		"puerta": "devices/door.jpg",
		"refrigerador": "devices/refrigerator.jpg"
	}
</script>
