<div class="modal fade" id="newRoutineModal" tabindex="-1" role="dialog" aria-labelledby="createRoutineTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createRoutineTitle">Crear rutina</h5>
				<button type="button" class="close" onClick="resetRoutineModal()" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container" style="padding-bottom:5px;">
					<div class="row">
						<div class="col-md-3">*Nombre:
						</div>
						<div class="col-md-9">
							<input id="routineName" style="display:table-cell; width:100%" type="text" maxlength="25" placeholder="Nombre de la rutina"
							 oninput="updateCreateButton()">
						</div>
					</div>
					<div class="row">
						<p class="input-warning" id="wrongNameText">El nombre debe contener al menos tres letras.</p>
					</div>
					<div class="row">
						<div class="col-md-4">*Acciones: </div>
					</div>
					<div class="row">
						<div class="col-md-9">
							<div class="accordion" style="width:100%" id="actionAccordion">
							</div>
						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-primary btn-sm" id="newActionBtn" data-toggle="modal" data-target="#newActionModal">Agregar</button>
							<button type="button" class="btn btn-primary btn-sm" id="deleteActionBtn">Eliminar</button>
						</div>
					</div>
					<div class="row">
						<p class="input-warning" id="actionsWarning">Debe haber por lo menos haber una acción para crear la rutina.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="btn-exec-routine">Ejecutar rutina</button>
				<button type="button" class="btn btn-secondary" id="cancelRoutineBtn">Cancelar</button>
				<button type="button" class="btn btn-primary" id="saveRoutineBtn" disabled>Guardar</button>
			</div>
		</div>
	</div>
</div>

<script>
	var actionInfo = [];
	var editRoutineId = "";
	//Setea el modal para actualizar una rutina especificada en vez de crear una nueva.
	function editRoutine(value) {
		resetRoutineModal();
		$('#btn-exec-routine').show();

		if (!value) {
			$('#newRoutineModal').modal('show');
			return;
		}

		editRoutineId = value;

		api.routines.get(editRoutineId)
			.then(data => {
				var name = data["routine"]["name"];
				$("#createRoutineTitle").text("Modificar rutina " + name.toUpperCase());
				$('#routineName').val(name);
				var actions = data["routine"]["actions"];
				for (var i = 0; i < actions.length; i++)
					createAction(actions[i]["actionName"], actions[i]["deviceId"], actions[i]["params"]);
				$('#newRoutineModal').modal('show');
			}).catch(error => {
				showErrorMessage("Request failed: " + error);
			});
	} $("#newRoutineModal").on('show.bs.modal', function (event) {
		$('#wrongNameText').attr("style", "display:block");
		$('#actionsWarning').attr("style", "display:block");

	});
	$("#newRoutineModal").on('click', '#btn-exec-routine', function (event) {
		var id = editRoutineId;
		api.routines
			.execute(id)
			.then(data => {
				Snackbar.show({
					text: "Ejecutando rutina " + $(event.target).closest(".routineRow").text().toUpperCase(),
					actionText: 'Ocultar',
					pos: 'top-center'
				});
			})
			.catch(error => {
				showErrorMessage("Request failed: " + error);
			});
	});
	function resetRoutineModal() {
		actionInfo = [];
		editRoutineId = "";
		$('#actionAccordion').empty();
		$('#routineName').val("");
		$("#createRoutineTitle").text("Crear rutina");
		$('#btn-exec-routine').hide();
		$('#wrongNameText').attr("style", "display:none");
		$('#actionsWarning').attr("style", "display:none");
	}
	function updateCreateButton() {
		var ready = true;
		console.log($('#routineName').val().length);
		if ($('#routineName').val().length < 3 || $('#routineName').val().length > $('#routineName').attr("maxlength")) {
			$('#wrongNameText').attr("style", "display:block");
			ready = false;
		}
		else
			$('#wrongNameText').attr("style", "display:none");

		if ($('#actionAccordion').children().length === 0) {
			ready = false;
			$('#actionsWarning').attr("style", "display:block");
		}
		else
			$('#actionsWarning').attr("style", "display:none");

		if (ready)
			$("#saveRoutineBtn").prop('disabled', false);
		else
			$("#saveRoutineBtn").prop('disabled', true);
	}
	function getIndex(action) {
		for (var i = 0; i < actionInfo.length; i++) {
			if (actionInfo[i]["actionName"] === action["actionName"] &&
				actionInfo[i]["deviceId"] === action["deviceId"]) {
				return i;
			}
		}
		return -1;
	}
	function removeAction(action) {
		var cardId = "card" + action["actionName"] + action["deviceId"];
		$('#' + cardId).remove();
		var index = getIndex(action);
		actionInfo.splice(index, 1);
	}

	function addAction(action) {
		if (getIndex(action) != -1)
			removeAction(action);
		actionInfo.push(action);
		api.devices.get(action["deviceId"])
			.then(data => {
				var collapseId = action["actionName"] + action["deviceId"];
				var headerId = "header" + collapseId;
				var cardId = "card" + collapseId;
				$('#actionAccordion').append(
					'<div class="card" id="' + cardId + '">' +
					'<div class="card-header" id="' + headerId + '">' +
					'<h5 class="mb-0">' +
					'<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#' + collapseId + '" aria-expanded="true" aria-controls="' + collapseId + '">' +
					data["device"]["name"] + ": " + actionsTranslation[action["actionName"]] +
					'</button>' +
					'</h5>' +
					'</div>' +
					'<div id="' + collapseId + '" class="collapse" aria-labelledby="' + headerId + '" data-parent="#actionAccordion" ' +
					'actionName="' + action["actionName"] + '"deviceId="' + action["deviceId"] + '">' +
					'</div>' +
					'</div>');
				var cardBody = document.createElement("div");
				cardBody.setAttribute("class", "card-body");
				var container = document.createElement("div");
				container.setAttribute("class", "container");
				if (action["params"].length > 0) {
					for (paramNum in action["params"]) {
						var value;
						if (/^#[0-9A-F]{6}$/i.test(action["params"][paramNum]["value"]))
							value = '<div class="color-box" style="background-color:' + action["params"][paramNum]["value"] + '"></div>';
						else
							value = supportedValuesTranslation[action["params"][paramNum]["value"]] !== undefined ? supportedValuesTranslation[action["params"][paramNum]["value"]] : action["params"][paramNum]["value"];
						$(container).append(
							'<div class="row">' +
							'<div class="col-md-7">' +
							action["params"][paramNum]["name"] +
							':</div>' +
							'<div class="col-md-5">' +
							value +
							'</div>' +
							'</div>');
					}
				}
				else
					container.innerText = "No posee parametros.";
				$('#' + collapseId).append(cardBody);
				$(cardBody).append(container)
				updateCreateButton();
			}).catch(error => {
				showErrorMessage("Request failed: " + error);
			});
	}

	$('#deleteActionBtn').on('click', function (event) {
		var selectedDevice = null;
		$('#actionAccordion').find("div").each(function (i) {
			if ($(this).hasClass("show"))
				selectedDevice = $(this);
		});
		if (selectedDevice == null)
			return;
		action = {
			deviceId: selectedDevice.attr("deviceId"),
			actionName: selectedDevice.attr("actionName")
		};
		removeAction(action);
		updateCreateButton();
	});

	$('#cancelRoutineBtn').on('click', function (event) {
		resetRoutineModal();
		$('#newRoutineModal').modal('hide');
	});

	$('#saveRoutineBtn').on('click', function (event) {
		var name = $('#routineName').val();

		var actions = [];
		for (var i = 0; i < actionInfo.length; i++) {
			var deviceId = actionInfo[i]["deviceId"];
			var actionName = actionInfo[i]["actionName"];
			var params = [];
			for (paramNum in actionInfo[i]["params"])
				params.push(actionInfo[i]["params"][paramNum]["value"]);

			actions.push({
				deviceId: deviceId,
				actionName: actionName,
				params: params,
				meta: "{}"
			});
		}
		var newRoutine = {
			name: name,
			actions: actions,
			meta: "{}"
		}

		if (editRoutineId !== "") {
			api.routines.update(editRoutineId, newRoutine)
				.then(data => {
					showSuccessMessage();
					resetRoutineModal();
					$('#newRoutineModal').modal('hide');
					populateRoutineTable();
					reloadSearch();
				}).catch(error => {
					showErrorMessage("Request failed: " + error);
				});
		}
		else {
			api.routines.create(newRoutine)
				.then(data => {
					showSuccessMessage();
					resetRoutineModal();
					$('#newRoutineModal').modal('hide');
					populateRoutineTable();
					reloadSearch();
				}).catch(error => {
					showErrorMessage("Request failed: " + error);
				});
		}
	});

	function showSuccessMessage() {
		Snackbar.show({
			text: "¡La operación se ha realizado con éxito!",
			actionText: 'Ocultar',
			pos: 'top-center'
		});
	}
</script>