<div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomTitle"
	aria-hidden="true">

	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createRoomTitle">Crear habitación</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row" style="padding-bottom: 10px">
						<div class="col-md-3">Nombre:</div>
						<div class="col-md-2">
							<input id="newRoomName" type="text" name="roomname"><br>
						</div>
					</div>
					<div class="form-group row" style="padding-bottom: 15px">
						<div class="col-md-3">Dispositivos:</div>
						<div class="col-md-6">
							<div class="list-group" id="deviceList" role="tablist" style="height:120px;max-height:120px; border:3px solid #cecece;overflow:auto;">
							</div>
						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-primary btn-sm" id="newDeviceBtn"
								data-toggle="modal" data-target="#newDeviceModal">Agregar</button>
							<button type="button" class="btn btn-primary btn-sm" id="deleteDeviceBtn">Eliminar</button>
						</div>
					</div>
					<div class="form-group row" style="padding-bottom: 10px">
						<div class="col-md-3">Favorito:</div>
						<div class="col-md-5">
							<div class="form-group form-check">
								<input type="checkbox" class="form-check-input" id="favourite">
								<label class="form-check-label" for="favourite"></label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="roomImgPath">*Imágen de la habitación: </label>
						<input type="file" class="form-control-file" id="roomImgPath">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="cancelRoomBtn">Cancelar</button>
				<button type="button" class="btn btn-primary" onclick="createNewRoom()">Guardar</button>
			</div>
		</div>
	</div>
</div>
<script>

	var devicesAdded = [];
	function createNewRoom() {
			var room = {
				name: $("#newRoomName").val(),
				meta: "{\"isFavorite\":false,\"image\":\"rooms/kitchen.jpg\"}"
			};

			//TODO: MOSTRAR LOADER POR SI NOS CORTAN LA CONEXION EN EL PROCESO

			api.rooms
				.create(room)
				.then(data => {
					window.location.href = "room.html?id=" + data.room.id;
				})
				.catch(error => {
					alert("Request failed: " + error);
				});

	}
	$('#cancelRoomBtn').on('click', function(event) {
		devicesAdded = [];
		$('#deviceList').empty();
		$('#newRoomModal').modal('hide')
	});
</script>
