<div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomTitle" aria-hidden="true">

	<div class="modal-dialog modal-md modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="createRoomTitle">Crear habitación</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="resetNewRoomModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row" style="padding-bottom: 10px">
					<div class="col-md-3">*Nombre:</div>
					<div class="col-md-3">
						<input id="newRoomName" type="text" name="roomname" size=25 maxlength=25><br>
					</div>
					<p class="input-warning" id="illegalNameText">El nombre debe contener al menos tres letras.</p>
				</div>
				<div class="form-group row" style="padding-bottom: 10px">
					<div class="col-md-3">Favorito:</div>
					<div class="col-md-1">
						<div class="form-group form-check">
							<input type="checkbox" class="form-check-input" id="newRoomFavourite">
							<label class="form-check-label" for="newRoomFavourite"></label>
						</div>
					</div>
				</div>
				<div class="alert alert-warning" role="alert" style="display:none" id="roomNameExists">
				  El nombre elegido ya pertenece a una habitación, por favor escoja otro.
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="cancelRoomBtn">Cancelar</button>
				<button type="button" class="btn btn-primary" onclick="createNewRoom()" id="saveRoomBtn">Guardar</button>
			</div>
		</div>
	</div>
</div>
<script>

	document.getElementById("saveRoomBtn").disabled = true;
	let nameInput = document.getElementById("newRoomName");
	nameInput.oninput = ((event) => {
		if (nameInput.value.length < 3) {
			document.getElementById("illegalNameText").style.visibility = "visible";
			document.getElementById("saveRoomBtn").disabled = true;
		} else {
			document.getElementById("illegalNameText").style.visibility = "hidden";
			document.getElementById("saveRoomBtn").disabled = false;
		}

	});
	var devicesAdded = [];

	function resetNewRoomModal(){
		devicesAdded = [];
		$('#deviceList').empty();
		$('#roomNameExists').attr("style","display:none");
	}
	function createNewRoom() {
		var room = {
			name: $("#newRoomName").val(),
			meta: "{\"isFavorite\":" + document.getElementById("newRoomFavourite").checked + ",\"image\":\"rooms/room.jpg\"}"
		};

		//TODO: MOSTRAR LOADER POR SI NOS CORTAN LA CONEXION EN EL PROCESO
		api.rooms.getAll()
			.then(data => {
				var exists = false;
				var rooms = data["rooms"];
				for(let j=0; j < rooms.length && !exists; j++){
					if(rooms[j]["name"] === room["name"])
						exists = true;
				}
				if(exists){
					$('#roomNameExists').attr("style","display:block");
					return;
				}
				api.rooms
					.create(room)
					.then(data => {
						window.location.href = "room.html?id=" + data.room.id;
					})
					.catch(error => {
						showErrorMessage("Request failed: " + error.responseText);
					});
			}).catch(error => {
				showErrorMessage("Request failed: " + error);
			});
	}

	$('#cancelRoomBtn').on('click', function(event) {
		resetNewRoomModal();
		$('#newRoomModal').modal('hide')
	});
</script>
