<div id="routinesCard" class="card mask rgba-white-strong" style="height:85vh">
  <div class="pb-0" style="padding: 1.25rem">
    <h4 class="card-title">Rutinas</h4>
  </div>

  <div id="routineEmptyDiv" class="center-screen text-center" style="width: 90%">
    <h4>No tienes rutinas registradas</h4>
    <h5>¡Presiona el botón rojo para agregar una!</h5>
    <a href="#">¿Qué es una rutina?</a>
  </div>

  <div class="card-body text-center py-0 mCustomScrollbar" style="overflow:auto;">
    <div id="routineTableDiv">
      <table id="routineTable" class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>

  <div class="btn-float-control">
    <a href="#" data-toggle="modal" data-target="#newRoutineModal" class="btn-float-main mask rgba-red-strong flex-center white-text z-depth-2"
      id="menu-share">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <ul>
      <li>
        <a class="btn mask rgba-black-strong" data-toggle="modal" data-target="#newRoutineModal" href="#" role="button">Agregar
          nueva
          rutina</a>
      </li>
    </ul>
  </div>
</div>
<div id="divNewRoutineModal"></div>
<div id="divNewActionModal"></div>
<div id="deleteRoutineConfirmationModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title">Eliminar rutina</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<p>¿Esta seguro que desea eliminar la rutina?</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-danger" id="deleteRoutineBtn" data-dismiss="modal">Eliminar</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	  </div>
	</div>
  </div>
</div>
<script>
  $('body').prepend("<div id='divNewActionModal'></div>");
  $('body').prepend("<div id='divNewRoutineModal'></div>");


  function renderRoutine(id, nombre) {
    return `<tr class="routineRow" data-id="${id}">
              <td>${nombre}</td>
              <td>
                <a class="btn btn-sm btn-delete-routine" href="#" role="button" data-toggle="modal" data-target="#deleteRoutineConfirmationModal">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                <a class="btn btn-sm btn-exec-routine" href="#" role="button">
                  <i class="fa fa-play" aria-hidden="true"></i>
                </a>
                <a class="btn btn-sm btn-edit-routine" href="#" role="button">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
              </td>
            </tr>`
  }

  function populateRoutineTable() {
    var tableBody = $("#routineTable").children("tbody");
    $(tableBody).html("");

    api.routines.getAll()
      .then((data) => {
        data["routines"].forEach(device => {
          $(tableBody).append(renderRoutine(device["id"], device["name"]));
        });

        if (isElementEmpty($(tableBody))) {
          $("#routineTableDiv").hide();
          $("#routineEmptyDiv").show();
        } else {
          $("#routineTableDiv").show();
          $("#routineEmptyDiv").hide();
        }
        completedPromises++;
      })
      .catch((error) => {
        alert('Request failed: ' + error);
      })
  }

  $('#deleteRoutineBtn').on('click',function(event) {
	var id = $('#deleteRoutineConfirmationModal').attr("routineId");
	api.routines
	.delete(id)
	.then(data => {
		populateRoutineTable();
	})
	.catch(error => {
		alert("Request failed: " + error);
	});
  });
  $("#routineTable").on('click', '.btn-delete-routine', function(event) {
    var id = $(event.target).closest(".routineRow").data("id");
    $('#deleteRoutineConfirmationModal').attr("routineId",id);
  });
  $("#routineTable").on('click', '.btn-exec-routine', function(event) {
    var id = $(event.target).closest(".routineRow").data("id");
    api.routines
      .execute(id)
      .then(data => {
        Snackbar.show({
          text: "Ejecutando rutina " + $(event.target).closest(".routineRow").text().toUpperCase(),
          actionText: 'Ocultar',
          pos: 'top-center'
        });
      })
      .catch(error => {
        alert("Request failed: " + error);
      });
  });
  $("#routineTable").on('click', '.btn-edit-routine', function (event) {
    var id = $(event.target).closest(".routineRow").data("id");
    api.routines.get(id)
      .then(data => {
        resetRoutineModal();
        var name = data["routine"]["name"];
        $('#routineName').val(name);
        var actions = data["routine"]["actions"];
        for (var i = 0; i < actions.length; i++)
          createAction(actions[i]["actionName"], actions[i]["deviceId"], actions[i]["params"]);
        $('#newRoutineModal').modal('show');
        editRoutine(id);
      }).catch(error => {
        alert("Request failed: " + error);
      });
  });
  $(document).ready(function () {
    $("#divNewRoutineModal").load("fragments/newRoutineModal.html");
    $("#divNewActionModal").load("fragments/newActionModal.html");
  });
</script>